<div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
        <label class="control-label" for="first-name"> Name*</label>
        [text* fullname class:form-control]
        </div>
        </div>
    
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="form-group">
       <label class="control-label" for="first-name">Gender *</label>
       [radio gender "Male" "Female"]
       </div>
       </div>
    </div>
    
    <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="form-group">
       <label class="control-label" for="last-name">Father's Name *</label>
       [text* father_name class:form-control]
       </div>
       </div>
    
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="form-group">
       <label class="control-label" for="email">Mother's Name *</label>
       [text* mother_name class:form-control]
       </div>
       </div>
    </div>
    
    <div class="row">
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="form-group">
       <label class="control-label" for="email">Date of Birth *</label>
       [date* dob class:form-control]
       </div>
       </div>
    
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="form-group">
       <label class="control-label" for="guardian">Guardian’s Name *</label>
       [text* guardian class:form-control]
       </div>
       </div>
    </div>  
    
    <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="form-group">
         <label class="control-label">Present Address</label>
         [textarea* address class:form-control]
          </div>
          </div>
    </div>            
                                   
    <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group">
         <label class="control-label" for="email">Mobile No. *</label>
         [tel* mobile class:form-control]
         </div>
         </div>
    
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group">
         <label class="control-label" for="phone">Email *</label>
         [email* email class:form-control]
         </div>
         </div>
    </div>
                  
    <div class="row">               
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group">
    <label class="control-label" for="phone">Last School Attended (Name & City)</label>
         [text* last_school class:form-control]
         </div>
         </div>
         
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group">
         <label class="control-label" for="phone">Last Class attended*</label>
         [text* last_class class:form-control]
         </div>
         </div>
    </div>
                   
    <div class="row">
         
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group">
         <label class="control-label" for="phone">Marks/ Grade Obtained (Applicable Class IV Onwards)*</label>
         [text* marks_obtained class:form-control]
         </div>
         </div>
    
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
        <label class="control-label" for="phone">Grade Applied For *</label><div class="custom-select">[select grade class:select2 "KG" "1st" "2nd" "3rd" "4th" "5th" "6th" "7th" "8th" "9th" "10th"]
        </div>
        </div>
    </div>
    </div>               
    <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group">
         <label class="control-label" for="email">Child’s special Interest (Music/ Art / Sports)</label>
         [text interest class:form-control]
         </div>
         </div>
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group">
         <label class="control-label" for="email">Any other attribute of the Child</label>
         [text attribute class:form-control]
         </div>
         </div>
    
    </div>
    
    <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group">
         <label class="control-label" for="email">Upload Aadhar Card</label>
         [file* UploadAadharCard limit:1mb filetypes:jpg|jpeg]
         </div></div>
    
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group">
         <label class="control-label" for="email">Upload Last Class Marksheet</label>
          [file* marksheet limit:1mb filetypes:jpg|jpeg]
         </div></div>
    </div>  
    
    <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="form-group">
         [checkbox* terms exclusive "By clicking the submit button below, I hereby agree to and accept the terms and conditions governing the Scholarship Test PIPSMEST being conducted by Punjab International Public School, Pojewal."]
         </div>
         </div>
    </div>         
    
    
    
    <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <input type="button" class="btn btn-primary" value="Submit" onclick="formConfirm()" data-toggle="modal" data-target="#confirmModel">
      <input type="submit"  id="hidden_submit" class="btn btn-primary" value="Submit" style="display:none">
         </div>
    </div>
    
    
    
    <div id="confirmModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Modal Header</h4>
    </div>
    <div class="modal-body">
     <div id="content_model"></div>
    <div>
    
     <button  class="btn btn-primary" data-dismiss="modal" id="final_submit">Submit</button>
     <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
    
     </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div>
    
    </div>
    </div>

<script>

        document.getElementById("final_submit").addEventListener("click",function(){
             document.getElementById("hidden_submit").click();
         });
     
     
     document.addEventListener( 'wpcf7mailsent', function( event ) {
          window.location.href = "https://rzp.io/i/g8KgQzq";
     }, false );
     
     
     
     
             function formConfirm(){
                  var form = document.getElementsByClassName("wpcf7-form")[0];
                  var model = document.getElementById("content_model");
                  model.innerHTML = "";
     
               for (let i = 0; i < 21; i++) {
                         if(form[i].type != 'hidden'){
                             var value = form[i].value;
                             var name = form[i].parentElement.classList[1];
     
                             model.innerHTML += `
                                    <div>
                                          <label style="text-transform: uppercase !important;"> ${name} </label>
                                          <p> ${value} </p>
                                    </div>`;
     
                         }
                  }
     
                    var aadhar = form[21];
                  
                  if(aadhar.files.length > 0){
                     let url = URL.createObjectURL(aadhar.files[0]);
                     model.innerHTML += `<div>
                                          <label> Aadhar Image </label>
                                           <img src="${url}" style='max-width:100px;min-height:100px'>
                                         </div>`;
                  }
                  
                  var marksheet = form[22];
                  if(marksheet.files.length > 0){
                     let url = URL.createObjectURL(marksheet.files[0]);
                     model.innerHTML += `<div>
                                          <label> Last Class Marksheet </label>
                                           <img src="${url}" style='max-width:100px;min-height:100px'>
                                         </div>`;
                   }
     
     
                 
     
             }
      
     </script>